CompileFlags:
  Add: [
    "/external:I", "C:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/include",
    "/external:I", "C:/Program Files (x86)/Windows Kits/10/Include/10.0.28000.0/ucrt",
    "/external:I", "C:/Program Files (x86)/Windows Kits/10/Include/10.0.28000.0/um",
    "/external:I", "C:/Program Files (x86)/Windows Kits/10/Include/10.0.28000.0/shared",
    "/external:I", "C:/Program Files/Microsoft Visual Studio/18/Community/DIA SDK/include",
    "/external:I", "C:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/atlmfc/include",
    "/external:I", "C:/Program Files (x86)/Windows Kits/10/Include/10.0.28000.0/km",
    "/std:c++23preview",
    "-D_AMD64_",
    "-D_WIN64"
  ]